<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key=""/>
	</appSettings>
	<connectionStrings>
		<add name="Connection" connectionString="Data Source=SourceName;Initial Catalog=WPFEmployeeCustomer;User ID=yourId;Password=yourPassword"/>
	</connectionStrings>
</configuration>